*.env
*hot-update.js*
.cache
.DS_Store
.idea/
.nyc_output/
.vscode/
.yarnclean
config.json
coverage/
lerna-debug.log
node_modules/
npm-debug.log*
package-lock.json
yarn-error.log
# DIST FILES
# dist/
*.map
*.test.js
*.test.d.ts
dist/test
